PUSHOVER_TOKEN=Place your Pushover token here
PUSHOVER_USER=Place your Pushover user key here
GOOGLE_API_KEY=Place your Google API key here
PERPLEXITY_API_KEY=Place your Perplexity API key here
GOOGLE_BASE_URL=Place your Google base URL here
hf_api_key=Place your Hugging Face API key here
SERPER_API_KEY=Place your Serper API key here